doctype html
html
	head
		title Сайт
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/style.css")
	body
		include jade-content/header.jade
		include jade-content/_index.jade
		include jade-content/footer.jade
					
		script(src="js/jquery-1.11.3.js")
		script(src="js/bootstrap.min.js")
		script(src="js/main.js")
			
